GenAI - RAG Assignment - Final.json
{
  "name": "GenAI - RAG Assignment - Final",
  "nodes": [
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "id": "b9cb9d69-6026-4dfc-b5ed-887ad0b01a8f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        320
      ],
      "id": "61512f15-16c6-4cdc-b8c6-d71cb3e07770",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-2m15q6aAMhP73t48oQ--SyevkqIZHGR6-IyxHrrYSQ",
          "mode": "list",
          "cachedResultName": "GENAI_RAG_Dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-2m15q6aAMhP73t48oQ--SyevkqIZHGR6-IyxHrrYSQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-2m15q6aAMhP73t48oQ--SyevkqIZHGR6-IyxHrrYSQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        320
      ],
      "id": "2a6ac824-8d85-4d67-b43b-e8152c0e8752",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4hB8rQcjumKsNBoM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        320
      ],
      "id": "9727683a-9cf0-43c8-af2e-0d0815405bd3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// -----------------------------\n// 1️⃣ EXPERIENCE PARSING\n// -----------------------------\nlet expMin = null;\nlet expMax = null;\n\nif (data[\"Experience\"]) {\n  const expText = data[\"Experience\"].toString();\n\n  const rangeMatch = expText.match(/(\\d+)\\s*to\\s*(\\d+)/i);\n  const singleMatch = expText.match(/(\\d+)/);\n\n  if (rangeMatch) {\n    expMin = parseInt(rangeMatch[1]);\n    expMax = parseInt(rangeMatch[2]);\n  } else if (singleMatch) {\n    expMin = parseInt(singleMatch[1]);\n    expMax = expMin;\n  }\n}\n\n// -----------------------------\n// 2️⃣ SALARY PARSING\n// Handles:\n// \"$59K-$99K\"\n// \"$50,000 - $80,000\"\n// \"50000-80000\"\n// -----------------------------\nlet salaryMin = null;\nlet salaryMax = null;\n\nif (data[\"Salary Range\"]) {\n  const salaryText = data[\"Salary Range\"].toString();\n\n  const kMatch = salaryText.match(/\\$?(\\d+)K\\s*-\\s*\\$?(\\d+)K/i);\n  const numberMatch = salaryText.match(/(\\d[\\d,]*)\\s*-\\s*(\\d[\\d,]*)/);\n\n  if (kMatch) {\n    salaryMin = parseInt(kMatch[1]) * 1000;\n    salaryMax = parseInt(kMatch[2]) * 1000;\n  } else if (numberMatch) {\n    salaryMin = parseInt(numberMatch[1].replace(/,/g, \"\"));\n    salaryMax = parseInt(numberMatch[2].replace(/,/g, \"\"));\n  }\n}\n\n// -----------------------------\n// 3️⃣ BENEFITS CLEANING\n// -----------------------------\nlet benefits = [];\n\nif (data[\"Benefits\"]) {\n  benefits = data[\"Benefits\"]\n    .replace(/[{}']/g, \"\")\n    .split(\",\")\n    .map(b => b.trim())\n    .filter(b => b.length > 2);\n}\n\n// -----------------------------\n// 4️⃣ SKILLS CLEANING (IMPROVED)\n// Handles broken parentheses + long sentences\n// -----------------------------\nlet skills = [];\n\nif (data[\"skills\"]) {\n  const rawSkills = data[\"skills\"]\n    .replace(/\\(.*?\\)/g, \"\")       // remove parentheses content\n    .replace(/\\./g, \",\")           // treat periods as separators\n    .replace(/\\s{2,}/g, \",\");      // break large spaces\n\n  skills = rawSkills\n    .split(\",\")\n    .map(s => s.trim())\n    .filter(s => s.length > 2);\n}\n\n// -----------------------------\n// 5️⃣ COMPANY PROFILE PARSING\n// -----------------------------\nlet companyProfile = {};\ntry {\n  companyProfile = JSON.parse(data[\"Company Profile\"]);\n} catch (e) {\n  companyProfile = {};\n}\n\n// -----------------------------\n// 6️⃣ LOCATION NORMALIZATION\n// -----------------------------\nconst city = data[\"location\"] || \"\";\nconst country = data[\"Country\"] || \"\";\nconst fullLocation = `${city}${city && country ? \", \" : \"\"}${country}`;\n\n// -----------------------------\n// 7️⃣ WORK TYPE NORMALIZATION\n// -----------------------------\nlet workType = data[\"Work Type\"] || \"\";\nworkType = workType.toString().toLowerCase();\n\n// -----------------------------\n// 8️⃣ CLEAN OBJECT (FINAL)\n// -----------------------------\nconst cleanedJob = {\n  job_id: data[\"Job Id\"],\n  title: data[\"Job Title\"],\n  role: data[\"Role\"],\n  role_category: data[\"Role\"] || \"\",\n  company: data[\"Company\"],\n  city: city,\n  country: country,\n  location: fullLocation,\n  work_type: workType,\n  experience_min: expMin,\n  experience_max: expMax,\n  salary_min: salaryMin,\n  salary_max: salaryMax,\n  qualifications: data[\"Qualifications\"] || \"\",\n  description: data[\"Job Description\"] || \"\",\n  responsibilities: data[\"Responsibilities\"] || \"\",\n  benefits: benefits,\n  skills: skills,\n  industry: companyProfile.Industry || \"\",\n  sector: companyProfile.Sector || \"\"\n};\n\n// -----------------------------\n// 9️⃣ RETURN CLEANED OBJECT\n// -----------------------------\nreturn [{ json: cleanedJob }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        240
      ],
      "id": "47c7a282-8afc-4070-b7b8-7869929df13b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "job-listings1",
          "mode": "list",
          "cachedResultName": "job-listings1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1456,
        320
      ],
      "id": "afb3b65d-3243-4924-ace2-ff528c52da73",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QAGErEBRiWrkQ2fj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1408,
        560
      ],
      "id": "e73ed082-bdbc-4899-8e0f-a3334247962b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\n\nconst text = `\nJOB TITLE: ${job.title}\nROLE: ${job.role}\nCOMPANY: ${job.company}\nLOCATION: ${job.location}\nWORK TYPE: ${job.work_type}\nEXPERIENCE REQUIRED: ${job.experience_min}-${job.experience_max} years\nSALARY RANGE: ${job.salary_min}-${job.salary_max}\n\nQUALIFICATIONS:\n${job.qualifications}\n\nDESCRIPTION:\n${job.description}\n\nRESPONSIBILITIES:\n${job.responsibilities}\n\nSKILLS:\n${job.skills.join(\", \")}\n\nBENEFITS:\n${job.benefits.join(\", \")}\n\nINDUSTRY:\n${job.industry}\n\nSECTOR:\n${job.sector}\n`;\n\nreturn [\n  {\n    json: {\n      text: text.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        256
      ],
      "id": "87c75a82-2061-419a-bb52-d19695b5fb57",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "459a471a-f39f-42ea-b7e0-969e19b548f8",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1920,
        288
      ],
      "id": "455ca9ed-9655-4848-8a93-fd56d192f1ea",
      "name": "Webhook",
      "webhookId": "459a471a-f39f-42ea-b7e0-969e19b548f8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2576,
        288
      ],
      "id": "6c94b462-5d87-4547-a1b6-80f0c0adab44",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}\n\nAnalyze the user profile above and recommend the best matches from retrieved job postings. Use the compact table format specified in your system instructions.",
        "options": {
          "systemMessage": "You are a Job-Matching RAG assistant. Recommend roles ONLY from retrieved job postings. Do not invent data.\n\nRULES:\n\nUse only facts from retrieved postings.\n\nIf detail is missing, say Not specified.\n\nCite evidence with brief quotes when helpful, but DO NOT include surrounding quotation marks.\n\nNever guess experience, location, pay, or tech stack.\n\nRespect user constraints strictly.\n\nFocus on skills and experience, not sensitive traits.\n\nRecommend all relevant matches found in the database.\n\nMaintain a clean, professional, report-style tone.\n\nOutput MUST be properly formatted Markdown.\n\nDo NOT include any conversational text before or after the report.\n\nOUTPUT FORMAT (STRICT)\n\nFollow this formatting exactly.\n\nYour Job Matches\nSummary\n\nOptimized for: [role/level/location]\nJobs found: [number]\nMatches returned: [number]\n\nTop Matches\n\nFor EACH role:\n\n[Job Title] @ [Company]\n\nMatch Score: [X/10]\nLocation: [City, Country]\nSalary: $[range]\n\nWhy It Matches\n\n[Reason 1 — concise, no quotes]\n\n[Reason 2 — concise]\n\n[Reason 3 — concise]\n\nGaps\n\n[Gap 1]\n\n[Gap 2]\n\n[Gap 3 if needed]\n\nExperience Alignment\n[One concise sentence]\n\n(Repeat for all matches)\n\nRecommended Next Steps\n\n[Action step]\n\n[Skill to highlight]\n\n[Question for recruiter]\n\nFORMAT ENFORCEMENT RULES (VERY IMPORTANT)\n\nUse bold markdown exactly as shown.\n\nUse proper heading levels (#, ##, ###).\n\nRemove ALL quotation marks from evidence text.\n\nKeep bullets to ONE line each.\n\nEnsure clean spacing between roles.\n\nDo NOT repeat section headers inside each job.\n\nDo NOT output plain paragraphs where bullets are expected.\n\nOutput must be directly renderable in Markdown.\n\nThe result must look like a professional report, not chat text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2208,
        272
      ],
      "id": "07c81199-4855-491e-829d-d52f14f9fdac",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is job listings data",
        "pineconeIndex": {
          "__rl": true,
          "value": "job-listings1",
          "mode": "list",
          "cachedResultName": "job-listings1"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2288,
        464
      ],
      "id": "4b20143b-a3b3-41c4-9524-c9219fe7644d",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "QAGErEBRiWrkQ2fj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1232,
        560
      ],
      "id": "332e6656-8720-4cb7-b4a0-46b38bc0471b",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "MjO6tiOM9VeqaFET",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2080,
        480
      ],
      "id": "5bafd2ef-23e0-4a15-8928-67ec9ae444e6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "MjO6tiOM9VeqaFET",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2384,
        672
      ],
      "id": "3cb45757-77ab-43e7-9a8c-d86771f5a81a",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "MjO6tiOM9VeqaFET",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0cd22927-d98f-49bd-8ece-80d629968b35",
  "meta": {
    "templateId": "5010",
    "templateCredsSetupCompleted": true,
    "instanceId": "564a0b5dd01fa45af7c6f253c8235000c0651289444f7ea925a68f620416bd41"
  },
  "id": "g78S4v0Nm17fuBJk",
  "tags": []
}